<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <title>{{resume.basics.name}}</title>
  <meta name='viewport' content='width=device-width, user-scalable=no, minimal-ui'>
  <meta name='resume-version' content='{{resume.meta.version}}'>
  <style>{{{css}}}</style>
</head>

<body>
  <div id='resume'>
    {{> basics}}
    {{> summary}}
    {{> education}}
    {{> work}}
    {{> volunteer}}
    {{> projects}}
    {{> publications}}
    {{> awards}}
    {{> skills}}
    {{> interests}}
  </div>
</body>

</html>
